.scheduleTable {
    border-collapse: collapse;
    width: 100%;
}

.scheduleTable th,
.tabscheduleTablele td {
    border: 1px solid (228, 130, 18);
    padding: 8px;
}

.scheduleTable th {
    background-color: #f2f2f2;
}

.divider {
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
}

.warning-tooltip {
    background-color: yellow;
    border: 1px solid black;
    padding: 2px 5px;
    position: absolute;
    z-index: 10;
    white-space: nowrap;
    left: 10px;
    top: -5px;
}

.warning-icon {
    position: relative;
}